.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 10vh;
}

.logo-link {
    display: flex;
    justify-content: center;
    width: 12.5vw;
    margin-right: 48vw;
    text-decoration: none;
}

.logo {
    height: 5vh;
    margin: 0 auto 0 auto;
    cursor: pointer;
}

.header-link {
    display: flex;
    justify-content: center;
    width: 12.5vw;
    margin: 0;
    text-decoration: none;
}

.header-title {
    width: fit-content;
    margin: 0 auto 0 auto;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.shopping-cart {
    height: 5vh;
    margin: 0 auto 0 auto;
    cursor: pointer;
}

@media (max-width: 850px) {
    .logo-link {
        display: flex;
        justify-content: center;
        width: 25%;
        margin: 0;
        text-decoration: none;
    }

    .logo {
        height: 4vh;
        margin: 0 auto 0 auto;
        cursor: pointer;
    }

    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        height: 10vh;
    }

    .header-title {
        width: 30vw;
        margin: 0 auto 0 auto;
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-family: Arial, Helvetica, sans-serif;
        cursor: pointer;
    }
} ;
