.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 10vh;
    background-color: rgb(72, 92, 92);
}

.header-link {
    width: 12.5vw;
    margin: 0;
    text-decoration: none;
}

.header-title {
    width: fit-content;
    margin: 0 auto 0 auto;
    text-decoration: none;
    color: rgba(254, 242, 212, 255);
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.shopping-cart {
    height: 7.5vh;
    margin: -1vh 0 0 2.5vw;
    cursor: pointer;
}
