.card-details-section {
    display: flex;
    flex-direction: row;
}

.card-label {
    width: 177px;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    cursor: default;
}

.card-input-column {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.card-number-row {
    display: flex;
    flex-direction: row;
}

.error-message-column {
    display: flex;
    align-items: center;
    width: 50%;
    margin: 10px 0 0 0;
    padding-left: 5%;
    color: rgb(188, 65, 35);
    font-family: Arial, Helvetica, sans-serif;
}

.card-input {
    width: 247px;
    margin-top: 10px;
    padding: 12px 20px;
    border-radius: 4px;
    border: 1px solid rgb(204, 204, 204);
}

.card-input:focus {
    outline: 2px solid rgb(188, 65, 35);
}

.expiry-date-picker {
    width: 247px;
    margin-top: 10px;
    padding: 12px 20px;
    border-radius: 4px;
    border: 1px solid rgb(204, 204, 204);
}

.expiry-date-picker:focus {
    outline: 2px solid rgb(188, 65, 35);
}

.react-datepicker__input-container {
    width: 288px;
    margin: 0;
}

.react-datepicker-wrapper {
    width: 288px;
    margin: 0;
}

@media (max-width: 500px) {
    .card-label {
        width: 125px;
        margin-left: 10px;
        color: rgb(255, 255, 255);
        font-family: Arial, Helvetica, sans-serif;
        cursor: default;
    }

    .card-number-row {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-left: 13px;
    }

    .card-input {
        width: 76%;
        margin-top: 10px;
        margin-left: -3px;
        padding: 12px 20px;
        border-radius: 4px;
        border: 1px solid rgb(204, 204, 204);
    }

    .react-datepicker__input-container {
        width: 242px;
        float: right;
        margin: 0;
    }

    .react-datepicker-wrapper {
        width: 242px;
        float: right;
        margin: 0;
    }

    .field-input-date {
        width: 200px;
        margin: auto;
        padding: 12px 20px;
        border-radius: 4px;
        border: 1px solid rgb(204, 204, 204);
    }

    .expiry-date-picker {
        width: 198px;
        margin-top: 10px;
        margin-left: -3px;
        padding: 12px 20px;
        border-radius: 4px;
        border: 1px solid rgb(204, 204, 204);
    }
}
