.field-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 7.5vh;
}

.field-label {
    width: 25%;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    cursor: default;
}

.field-label-date {
    width: 177px;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    cursor: default;
}

.field-input {
    width: 75%;
    margin: auto;
    padding: 12px 20px;
    border-radius: 4px;
    border: 1px solid rgb(204, 204, 204);
}

.field-input:focus {
    outline: 2px solid rgb(188, 65, 35);
}

.react-datepicker__input-container {
    width: 573px;
    margin: 0;
}

.react-datepicker-wrapper {
    width: 573px;
    margin: 0;
}

.field-input-date {
    width: 530px;
    margin: auto;
    padding: 12px 20px;
    border-radius: 4px;
    border: 1px solid rgb(204, 204, 204);
}

.field-input-date:focus {
    outline: 2px solid rgb(188, 65, 35);
}
