.basket-page {
    height: 85vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.basket-body {
    display: flex;
    flex-direction: column;
    width: 750px;
    margin: 0 auto 0 auto;
}

.basket-header {
    margin: 40px auto 10px auto;
    color: rgb(188, 65, 35);
    font-family: Arial, Helvetica, sans-serif;
    cursor: default;
}

.basket-subheader {
    margin: 30px 0 10px 0;
    color: rgb(188, 65, 35);
    font-family: Arial, Helvetica, sans-serif;
}

.order-link {
    margin: 0 auto 0 auto;
    text-decoration: none;
}

.alert-text {
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px auto 0 auto;
}

.basket-link {
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    cursor: pointer;
}

.basket-link:hover {
    text-decoration: underline;
}

.link-seperator {
    padding: 0 3px 0 3px;
}

.register-and-login-link {
    display: flex;
    flex-direction: row;
    margin: 0 auto 0 auto;
}

.empty-basket-message {
    margin: 30px auto 0 auto;
}

.menu-link {
    width: fit-content;
    margin: 20px auto 0 auto;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    cursor: pointer;
}
